.text {
  text-align: left;
  font-family: "Anonymous Pro", monospace;
  font-size: 2vw;
  animation: fadein 4s;
  white-space: pre-line;
  line-height: 2;
  color: #0072b5;
  text-shadow: 1px 1px 2px #0072b5, 0 0 25px #fff, 0 0 5px #fff;
}
.title {
  animation: stroke 5s infinite alternate;
  stroke-width: 2;
  stroke: #365fa0;
  font-size: 4vw !important;
  display: block;
  font-family: "Anonymous Pro", monospace;
  text-align: center;
  position: relative;
  color: #fff !important;
  letter-spacing: 7px !important;
  white-space: nowrap;
  text-shadow: 0 0 25px blue, 0 0 5px #001f3f;
  border-bottom: 5px solid #fff;
  border-radius: 20px;
  width: fit-content;
}
h2 {
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.container {
  margin: 5rem 8rem;
  width: 50%;
  max-width: 50%;
  height: fit-content;
  float: left;
}
.row {
  display: flex;
  flex-direction: row;
  column-gap: 2em;
}
@media screen and (max-width: 992px) {
  .text {
    font-size: 5vw;
  }
  .title {
    font-size: 6vw !important;
  }
  .row {
    flex-direction: column;
  }
}
