.container {
  height: 95vh;
  width: 100%;
  margin: auto auto;
  justify-content: center;
}
.wrapper {
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
}
.title {
  font-size: 4vw !important;
  border-bottom: 5px solid #fff;
  border-radius: 20px;
  width: fit-content;
  margin: auto auto;
  display: block;
  font-family: "Anonymous Pro", monospace;
  text-align: center;
  position: relative;
  letter-spacing: 7px !important;
  white-space: nowrap;
  color: #fff !important;
  text-shadow: 0 0 25px blue, 0 0 5px #001f3f;
  box-shadow: 0 8px 6px -6px #a1c4fd;
}
.secondTitle {
  color: #fff !important;
  text-shadow: 0 0 25px blue, 0 0 5px #001f3f;
}
.skillsWrap {
  display: flex;
  flex-direction: row;
  column-gap: 2em;
  justify-content: center;
  flex-grow: 1;
  border-radius: 30px;
  align-items: center;
  height: 100%;
}
.skillsGroup {
  border-radius: 30px;
  background-color: #f8f8ff;
  column-gap: 10em;
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  align-items: center;
  height: 350px;
  padding: 10px 10px;
}

.skillData {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100px;
  align-items: center;
  justify-content: center;
}
.skillText {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 40px;
}
.level {
  color: #716a6a;
}

svg {
  padding: 5px;
}
span {
  font-size: 2vw;
}

h5 {
  font-size: 1vw !important;
}

@media screen and (max-width: 992px) {
  span {
    font-size: 5vw !important;
  }

  h5 {
    font-size: 4vw !important;
  }
  .skillsGroup {
    justify-content: center;
    height: 600px;
    row-gap: 2em;
  }
  .skillData {
    width: 50%;
    height: fit-content;
  }
  .title {
    font-size: 6vw !important;
  }
  .wrapper {
    margin-top: 50px;
  }
}
