.formWrap {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto auto;
  row-gap: 1rem;
}
.contactWrap {
  border: 1px solid black;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  margin-top: 3rem;
  background-color: #f8f8ff;
}
.leftWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 2rem;
  row-gap: 1.5rem;
  padding-bottom: 1.5rem;
}
.rightWrap {
  line-height: 2rem;
  padding-bottom: 1.5rem;
}
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.header {
  display: flex;
  flex-direction: column;
}
.textInput {
  height: 3rem;
  font-size: 1.5vw;
  border-radius: 10px;
  border: 1px solid black;
}
.textAreaInput {
  height: 10rem;
  font-size: 1vw;
  border-radius: 10px;
  border: 1px solid black;
}
input,
textarea:focus {
  outline: none;
}

.call {
  width: 100px !important;
  height: 50px;
  display: block;
  margin: auto auto;
  align-items: center;
}
a {
  border: none;
  text-decoration: none;
  font-weight: bold;
}
.call:hover {
  animation: shake 0.8s infinite;
}
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  animation: animatetop 0.3s;
}
.modalContent {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
.title {
  font-size: 4vw !important;

  display: block;
  font-family: "Anonymous Pro", monospace;
  text-align: center;
  position: relative;
  color: #fff !important;
  text-shadow: 0 0 25px blue, 0 0 5px #001f3f;
  box-shadow: 0 8px 6px -6px #a1c4fd;
  letter-spacing: 7px !important;
  white-space: nowrap;
  border-bottom: 5px solid #fff;
  border-radius: 20px;
  width: fit-content;
  margin: auto auto;
}
.secondTitle {
  color: #fff !important;
  margin-top: 15px;
  text-shadow: 0 0 25px blue, 0 0 5px #001f3f;
}
.label {
  border-bottom: 5px solid #fff;
  width: fit-content;
  margin: auto auto;
  color: #000000 !important;
  font-size: x-large;
  text-shadow: 2px 2px 4px #f8f8ff;
}
